﻿*{
    padding:0;
    margin:0;
}

.header {
    height:50px;
    width:100%;
    background:red;
    color:white;
    display:flex;
    justify-content:center;
    
}

.logo_menu{
    width:90%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.div_logo{
    width:30%;
    /*padding:15px 10px;*/
    font-size:30px;
}

.div_logo > a{
    cursor:pointer;
   /*background-color: rgba(0, 0, 0, 0.3);*/
}
.div_menu{
    width:70%;
    font-size:18px;
}

.div_menu >a{
    float:right;
    margin:0px 5px;
    padding:5px 15px;
    border-radius:3px;
}

.div_menu >a:hover{
    cursor:pointer;
    
    background-color: rgba(0, 0, 0, 0.2);
}

.footer{
    background:#60696D;
    height:50px;
    color:white;
    display:flex;
    justify-content:center;
}