﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>myLayout</title>
    <link type="text/css" rel="stylesheet" href="~/css/styleTemplate.css" />
</head>
<body>
    <div> 
        <header class="header" id="header">
            <div class="logo_menu">
                <div class="div_logo">
                    <a id="">Logo</a>
                </div>
                <div class="div_menu">
                    <a>link 1</a>
                    <a>link 2</a>
                    @Html.ActionLink("salir", "logoutAdmin", "Inicio")
                </div>
            </div>
        </header>
            @RenderBody()
        <footer class="footer">
            &copy Copyright 2020 
        </footer>
    </div>
</body>
</html>
