﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>editProduct</title>
</head>
<body>
    <div> 
        @{
           product pro = ViewBag.product;
        }
        <p>@pro.id_product</p>
        @using (Html.BeginForm("editTheProduct", "Inicio", FormMethod.Post))
        {
            <input name="id" type="text" class="name" value="@pro.id_product"/>
            <input class="name" id="name" name="name" type="text" value="@pro.name"/>
            <input class="description_product" id="description_product" value="@pro.description_product" name="description_product" type="text" />
            <input class="precio" id="precio" name="precio" type="number" value="@pro.precio" />
            <input class="stock" id="stock" name="stock" type="number" value="@pro.stock"/>
            <input type="submit" />
        }
    </div>
</body>
</html>
