﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/myLayout.cshtml";
}

<h2>Index</h2>
@if (ViewBag.admin != null) {
    @ViewBag.admin.name<br />
    @ViewBag.admin.mail
}
<h3>create admin</h3>
@using (Html.BeginForm("createAdmin", "Inicio", FormMethod.Post))
{
    <input class="name" id="name" name="name" type="text" />
    <input class="mail" id="email" name="mail" type="email" />
    <input class="pass" id="pass" name="pass" type="password" />
    <input type="submit" />
}

<h3>login</h3>
@using (Html.BeginForm("loginAdmin", "Inicio", FormMethod.Post))
{
    <input class="mail" id="mail" name="mail" type="email" />
    <input class="pass" id="pass" name="pass" type="password"/>
    <input type="submit" />
}

<h3>create product</h3>
@using (Html.BeginForm("createProduct", "Inicio", FormMethod.Post))
{
    <input class="name" id="name" name="name" type="text"/>
    <input class="description_product" id="description_product" name="description_product" type="text"/>
    <input class="precio" id="precio" name="precio" type="number"/>
    <input class="stock" id="stock" name="stock" type="number"/>
    <input type="submit"/>
}

@{
    foreach (product p in ViewBag.products)
    {
        <p>@p.name - @p.description_product - @p.precio - @p.stock</p>
        @Html.ActionLink("borrar", "deleteProduct", "Inicio", new { id = p.id_product },null)
        @Html.ActionLink("editar", "editProduct", "Inicio", new { id = p.id_product }, null)
    }
}